body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fafafa;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

button {
  cursor: pointer;
}
